body {
    background-color: antiquewhite;
    background-image: url(/img/bg.jpg);
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;  
    position: sticky;
    top: 0;
    z-index: 100;  
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 80vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url(/img/bg3.jpg);
    background-size: cover;
    background-position: center;
    max-height: 80vh;    
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: #555 #333;
}

.container:hover {
    overflow-y: scroll;
}

.bottom{
    display: flex;
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
    padding-left: 14px;
    justify-content: space-between;
}

#myProgressBar{
    width: 75vw;
    cursor: pointer;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 100%;
    color: black;
    margin: 25px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}
.timestamp i{
    padding-left: 12px;
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 12vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    margin-right: 8px;
    opacity: 0;
    transition: opacity 0.3s ease-in;    
}

